<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>internal dashboard - ronthecookie.me</title>
        <link rel="stylesheet" href="/style.css" />
        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet"
        />
        <meta http-equiv="refresh" content="10" />
    </head>
    <body class="c">
        <p class="title">internal dashboard</p>
        <div class="flex">
            <%- include("parts/sdabbuildstatus", {builds}) %>
            <iframe
                src="//status.ronthecookie.me"
                frameborder="0"
                style="width: 30vw;"
            ></iframe>
        </div>
        <div class="flex">
            <%- include("parts/sdablogs", {sdabLogs}) %>
        </div>
        <div class="flex">
            <%- include("parts/wtlogs", {watchtowerLogs}) %>
        </div>
    </body>
</html>
